.singleCard img{
    width: 277px;
    height: 500px;
    padding: 3px;
}

#left {
    float: left;
}

#right{
    float: right;
}

.inventory{
    border: 1px solid;
    position: relative;
}

.desk div{
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.desk div:nth-child(2n){
    border-left: 0px;
    border-right: 0px;
}

.desk div:last-child{
    border-right: 1px solid;
}

.handCards{
    border: 2px solid red;
}

.battleGround{
    border: 1px solid;
}